@model IEnumerable<ABCRetailWebApp.Models.BlobModel>

@{
    ViewData["Title"] = "Gallery";
    var containerName = ViewBag.ContainerName as string;
}

<div class="container gallery-container">
    <h1 class="page-title">Gallery - @containerName</h1>

    <!-- Blob Gallery -->
    <div class="blob-gallery">
        @if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var blob in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="thumbnail card">
                            <img src="@Url.Action("GetImage", "Blob", new { blobName = blob.BlobName, containerName = blob.ContainerName })"
                                 alt="@blob.BlobName"
                                 class="card-img-top";" />
                            <div class="card-body">
                                <h5 class="card-title">@blob.BlobName</h5>
                                <p class="card-text">Uploaded on: @blob.UploadDate.ToString("g")</p>
                                <a href="@Url.Action("DownloadBlob", "Blob", new { blobName = blob.BlobName, containerName = containerName })"
                                   class="btn btn-primary">Download</a>
                                <a href="@Url.Action("DeleteBlob", "Blob", new { blobName = blob.BlobName, containerName = containerName })"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-center">No blobs found.</p>
        }
    </div>
</div>


